$fontMuseoSans: 'MuseoSans-500', sans-serif;
$fontMuseoSansRounded: 'Museo Sans Rounded', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;

// Font size
$font13: 13px;
$font14: 14px;

// Container
$container-width: 1180px;
$container-md: 970px;
$container-sm: 870px;

// breakpoints
$width-xll: 768px;
$width-xs: 870px;
$width-sm: 850px;
$width-md: 990px;
$width-lg: 1024px;
$width-xl: 1200px;