body {
	font-size: 14px;
	font-family: $fontFamily;
	background-color: #F5F5F5;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-size-adjust: none;
}

a {
	text-decoration: none;
}