body {
	font-size: $font14;
	font-family: $fontMuseoSans;
	color: map-get($colors, dark);
	background-color: map-get($colors, light);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-size-adjust: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	border: none;
	width: 100%;
	height: 1px;
	background-color: #d9dadd;
	margin: 45px 0;
}