@font-face {
	font-family: 'MuseoSans-500';
	src: url($font-path + '332DA4_0_0.eot');
	src: url($font-path + '332DA4_0_0.eot?#iefix') format('embedded-opentype'),
			url($font-path + '332DA4_0_0.woff2') format('woff2'),
			url($font-path + '332DA4_0_0.woff') format('woff'),
			url($font-path + '332DA4_0_0.ttf') format('truetype');
}