$font-path: "../assets/fonts/";

// Shared Variables
// --------------------------------------------------
@import "variables/variable";

// Named Color Variables
// --------------------------------------------------
$colors: (
	primary:    #5fc0c3,
  secondary:  #f1f2f5,
  light:      #ffffff,
  success:    #5fc0c3,
  dark:       #565659
);

// Core
// --------------------------------------------------
@import "@modules/core";

// Components
// --------------------------------------------------
@import "@modules/components";