.cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 100px;
}

.card {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 33.33333%;
	padding: 50px 22px 30px;
	margin-right: 30px;
	border-radius: 7px;
	text-align: center;
	background-color: map-get($colors, light);

	&:last-child {
		margin-right: 0;
	}
}

.card-info {
	h3 {
		font-size: 17px;
		color: map-get($colors, lightblue);
		margin: 20px 0;
		font-weight: 500;
	}

	p {
		-webkit-font-smoothing: antialiased;
	}
}

.card-icon {
	position: absolute;
	display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: -50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: map-get($colors, lightblue);
	border: 10px solid map-get($colors, light);

	&.card-icon-fix {
		padding: 28px;
	}
}