.row {
	display: flex;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 34%;
}

.column-img {
	position: relative;
  display: flex;
  align-items: center;
  max-width: 38%;
  height: 100px;
  margin: 40px 0 20px;

  &.column-img-fixer {
  	max-width: 30%;
  }
}

.column-text {
	margin-bottom: 20px;
	
	h4 {
		font-size: 17px;
		text-transform: uppercase;
		margin: 20px 0;
	}

	p {
		-webkit-font-smoothing: antialiased;
		color: #5b6172;
		font-size: 15px;
		line-height: 23px;
		margin-bottom: 33px;
	}
}